@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  flex: 1 1 0%;
  overflow: hidden;
}

.highlight em {
  font-weight: bold;
}

p {
  margin-bottom: 1rem;
}

p a,
li a {
  color: blue;
}

h3 {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 120%;
}

ul {
  list-style: disc;
  padding-left: 1rem;
}
